.about-content {
  color: black;
}

.about-font {
  font-size: 2rem;
  font-weight: bold;
}

.about-details {
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-profile-img {
  display: none;
}

.about-picture-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.square-profile-img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: .3rem solid white;
}