.header-container {
  position: fixed;
  z-index: 10;
  top: 0;
  max-width: 1200px;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: black;
}

.header-container div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 11;
}

.header-container div:nth-child(1) * {
  margin: 1rem;
}

.link-style {
  color: white;
  text-decoration: none;
  background-color: black;
  font-size: 1.5rem;
  line-height: 5rem;
}

i {
  font-size: 2rem;
}

.header-link {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  animation: dropDown 1s forwards;
  animation-timing-function: var(--cubic);
}

@keyframes dropDown {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0vh);
  }
}