.checkbox {
  display: initial;
  position: relative;
  z-index: 200;
  left: 10rem;
}

.home-page, .portfolio-page, .contact-page {
  background-color: black;
  animation: return 1s linear;
  height: 100%;
}

.about-page, .resume-page {
  animation: return 1s lienar;
  height: 100%;
}

#home-page:checked ~ .home-page {
  
}

@keyframes return {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes home {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(0%);
  }
}
