.checkbox {
  display: initial;
  position: relative;
  z-index: 200;
  left: 10rem;
}

.home-page, .contact-page {
  background-color: black;
  animation: returnLeft 1s linear;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  animation: returnLeft 1s forwards;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.83,.32,.11,.9);
  animation-iteration-count: 1;
  animation-play-state: running;
}

.portfolio-page {
  background-color: black;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  animation: returnRight 1s forwards;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.83,.32,.11,.9);
  animation-iteration-count: 1;
  animation-play-state: running;
}

.about-page, .resume-page {
  background-color: white;
  animation: returnLeft 1s linear;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  animation: returnLeft 1s forwards;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.83,.32,.11,.9);
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes returnLeft {
  from {
    transform: translate3d(100%,0,0)
  }
  to {
    transform: translate3d(0,0,0)
  }
}

@keyframes returnRight {
  from {
    transform: translate3d(-100%,0,0)
  }
  to {
    transform: translate3d(0,0,0)
  }
}
