.project-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  background-color: white;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

.project-section {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1rem;
  scroll-snap-align: start;
}

.project-container .project-section:nth-child(2n) {
  background-color: rgb(145, 145, 145);
  color: white;
}

.project-container .project-section:nth-child(1n) img {
  grid-column: 1 / span 1;
  margin: auto;
  height: 20rem;
  width: 100%;
  object-fit: contain;
}

.project-container .project-section:nth-child(1n) div {
  grid-column: 2 / span 1;
  margin: auto;
}

.project-container .project-section:nth-child(2n) img {
  grid-column: 2 / span 1;
  margin: auto;
}

.project-container .project-section:nth-child(2n) div {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .project-container * {
    font-size: .7rem;
  }

  .project-section {
    display: flex;
    flex-direction: column;
  }
}