.portfolio-content {
  color: white;
}

.portfolio-icon {
  color: white;
  font-size: 5rem;
  padding: 1rem;
}

.portfolio-dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 9rem;
  padding: 1rem;
}

.portfolio-dropdown > span {
  padding-top: .5rem;
}

.portfolio-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  left: 0rem;
  animation: cookieReturn .6s forwards;
  animation-timing-function: var(--cubic);
  animation-play-state: running;
}

#portfolio-list {
  display: none;
}

#portfolio-list:checked ~ .portfolio-menu {
  animation: cookie .6s forwards;
  animation-timing-function: var(--cubic);
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes cookie {
  from {
    transform: translateX(-10rem)
  }
  to {
    transform: translateX(0rem)
  }
}

@keyframes cookieReturn {
  from {
    transform: translateX(0rem)
  }
  to {
    transform: translateX(-11rem)
  }
}