
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

h1, a, span, li , div {
  /* font-family: Arial, Geneva, Helvetica, sans-serif; */
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

:root {
  --cubic: cubic-bezier(.62,.27,.56,.92);
}

.App {
  text-align: center;
}

.page {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
}

.content {
  position: relative;
  margin-top: 4rem;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  background-color: black;
}

section {
  width: 100%;
  height: 100%;
}

.page-format {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.page-content {
  width: 1250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

@media screen and (max-width: 1250px) {
  .page-content {
    width: 100%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
