@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

h1, a, span, li , div{
  font-family: Arial, Geneva, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
